
chatbot-server/__pycache__

*.py[cod]

chatbot-server/.ipynb_checkpoints

chatbot-server/model/*

chatbot-server/db/*.db

chatbot-server/bucket_dbs/*

chatbot-server/dgk_shooter_min.conv.zip
chatbot-server/dgk_shooter_min.conv

build-chat*

chatbot-client/chatbot-client.pro.user


